<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Release Notes</title>
  </head>
  <body>
    <h1>Release Notes</h1>

    <h2>${project.version} (2015-02-03)</h2>
    <p>Initial release.</p>
    <ul>
      <li style="list-style: square;">Includes basic tests to obtain and validate 
      service metadata resources (service capabilities and OpenSearch description 
      documents).</li>
    </ul>

  </body>
</html>
