<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Release Notes</title>
  </head>
  <body>
    <h1>Release Notes</h1>

    <h2>${project.version} (2015-04-29)</h2>
    <p>This release includes the following enhancements:</p>
    <ul>
      <li style="list-style: square;">Add tests for basic text search with 
      multiple terms (implicit AND)</li>
      <li style="list-style: square;">Verify sample queries specified in OpenSearch 
      description</li>
      <li style="list-style: square;">Add test for retrieving OpenSearch 
      description by using the 'OpenSearchDescriptionDocument' constraint.</li>
    </ul>

    <h2>0.4 (2015-04-09)</h2>
    <p>This release extends the test suite to cover basic text and record searches:</p>
    <ul>
      <li style="list-style: square;">Add test for GetRecords (KVP) request with 
      the 'recordIds' query parameter</li>
      <li style="list-style: square;">Add tests for GetRecords (KVP) request with 
      the 'q' query parameter</li>
      <li style="list-style: square;">Add tests for OpenSearch queries with the 
      searchTerms parameter</li>
    </ul>

    <h2>0.3 (2015-03-31)</h2>
    <p>This release includes the following enhancements:</p>
    <ul>
      <li style="list-style: square;">Add tests for GetRecords with BBOX 
      parameter (bounding box search)</li>
      <li style="list-style: square;">Add tests for OpenSearch requests 
      containing the geo:box template parameter (bounding box search)</li>
      <li style="list-style: square;">Add tests for OpenSearch requests 
      containing the geo:uid template parameter (record search)</li>
    </ul>

    <h2>0.2 (2015-02-27)</h2>
    <p>This update adds positive and negative tests for the following requests:</p>
    <ul>
      <li style="list-style: square;">GetRecordById</li>
      <li style="list-style: square;">GetRecords (without search criteria)</li>
    </ul>

    <h2>0.1 (2015-02-03)</h2>
    <p>Initial release.</p>
    <ul>
      <li style="list-style: square;">Includes basic tests to obtain and validate 
      service metadata resources (service capabilities and OpenSearch description 
      documents).</li>
    </ul>

  </body>
</html>
